/* GENERIC */

body {
  margin: 0;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/* HEADER */

.header {
  padding: 20px 50px;
}

.menu-item {
  margin-left: 15px;
}
