/* GENERIC */

body {
  margin: 0;
}

.container {
  margin: 0 8%;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/* HEADER */

.header {
  padding: 20px 50px;
}

.menu-item {
  margin-left: 15px;
}

/* PRESENTATION */

/* CAUTIONS */

.caution-item {
  width: 180px;
  height: 180px;
}
